* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.title,
.content,
.button-container {
  padding: 10px;
}

.title,
.content {
  margin-bottom: 10px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 9px 21px;
  margin: 0 auto;
}
